@import '~bootstrap/scss/bootstrap';
@import './partials/index';
@import './partials/footer';
@import './partials/header';

body{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex-grow: 1;
}

ul, ol, menu{
    list-style: none;
    color: currentColor;
    padding: 0;
}

a{
    color: currentColor;
    text-decoration: none;
}
