.card-structure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 30px;
}

.content-pagination{
    padding-top: 30px;
    display: flex;
    justify-content: center  
}